.contentHeaderLeft {
    display: flex;
    justify-content: flex-start;
}

.contentHeaderRight {
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width: 2000px) {
    .contentStyle {
        display: grid;
        grid-template-columns: 50% 50%;
    }
  }

@media screen and (max-width: 600px) {
    .contentStyle {
        display: grid;
        grid-template-columns: auto;
    }
  }


.contentSearch {
    display: flex;
    justify-content:flex-start;
    flex-wrap: wrap;
    padding-right: 10%;
}

.contentButtonCreate { 
    display: flex;
    justify-content:flex-end;
    flex-wrap: wrap;
    padding-left: 10%;
    padding-right: 10%;
}